[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=admin
Group=www-data
WorkingDirectory=/home/admin/wai-aria-inspection
ExecStart=/usr/bin/pipenv run gunicorn --access-logfile - --workers 3 --bind
unix:/run/gunicorn.sock          server.wsgi:application
[Install]
WantedBy=multi-user.target
