{% extends 'main/base.html' %}
{% block title %}Исправление семантики при помощи ARIA{% endblock %}
{% block content %}
<h1 id="broken-semantics-aria-heading">Исправление семантики при помощи ARIA</h1>
<h2>Пример и объяснение проблемы</h2>
<p>Плохим примером использования ARIA является применение атрибута роли к элементу вместо нативного  тега HTML, с которым ассистивные технологии могут поумолчанию корректно взаимодействовать.
    Например, вместо использования HTML-тега <code>&lt;a&gt;</code> навешивать роль ссылки на span элемент.
    В данном случае программа экранного доступа определит, что это ссылка, но она не сможет корректно взаимодействовать
    с ней. Она не будет фокусируема при нажатии клавиши tab, для работы такой ссылки нужен отдельный самостоятельный
    обработчик данной ссылки, написанный на Javascript, также некоторые ассистивные технологии не будут адекватно
    взаимодействовать с такого рода ссылкой, так как они не могут адекватно работать с ARIA.
    Ниже приведен пример таких объектов.
</p>
<div id="broken-semantics-example">
    <span id="broken-yandex-link" role="link">Яндекс</span>
    <span id="broken-button-example" role="button">Find with tab key and click me</span>
</div>
<h2>Исходный код примера</h2>
<p>Ниже представлен исходный код примера.</p>
<pre>
    <code>
        &lt;div id=&quot;broken-semantics-example&quot;&gt;
            &lt;span id=&quot;broken-yandex-link&quot; role=&quot;link&quot;&gt;&YAcy;&ncy;&dcy;&iecy;&kcy;&scy;&lt;/span&gt;
            &lt;span id=&quot;broken-button-example&quot; role=&quot;button&quot;&gt;Find with tab key and click me&lt;/span&gt;
        &lt;/div&gt;
    </code>
</pre>
<h2>Возможное решение проблемы</h2>
<p>Решением данной проблемы является замена роли ARIA на соответствующий стандартный HTML-тег.
    ARIA не предназначена для исправления элементов, не имеющих семантики. Стоит помнить главное правило стандарта: не
    использовать ARIA тогда, когда это не является необходимостью. Неправильное использование стандарта может только
    навредить доступности.
</p>
<p>
    Исправленный пример вышеприведённого кода можно найти
    <a href="{% url 'main:broken-semantics-good-example' %}" title="Исправление семантики при помощи HTML">На данной
        странице</a>
</p>
{% endblock %}
