{% extends 'main/base.html' %}
{% block title %}Исправление семантики при помощи ARIA{% endblock %}
{% block content %}
<h1>Исправление семантики при помощи ARIA</h1>
<p>Плохим примером использования ARIA является применение роли ARIA вместо нативной роли HTML.
    Например, вместо использования HTML-тега "a" навешивать роль ссылки на элемент.
    В данном случае программа экранного доступа определит, что это ссылка, но она не сможет корректно взаимодействовать
    с ней. Она не будет фокусируема при нажатии клавиши tab, для работы такой ссылки нужен отдельный самостоятельный
    обработчик данной ссылки, написанный на Javascript, также некоторые ассистивные технологии не будут адекватно
    взаимодействовать с такого рода ссылкой, так как они не могут адекватно работать с ARIA.
    Ниже приведен пример таких объектов.
</p>
<div id="broken-semantics-example">
    <span id="my-book-link" role="link">My book</span>
    <span id="broken-button-example" role="button">Find with tab key and click me</span>
</div>
<p>Решением данной проблемы является замена роли ARIA на соответствующий стандартный HTML-тег.
    ARIA не предназначена для исправления элементов, не имеющих семантики. Стоит помнить главное правило стандарта: не
    использовать ARIA тогда, когда это не является необходимостью. Неправильное использование стандарта может только
    навредить доступности.
</p>
<p>
    Исправленный пример вышеприведённого когда можно найти
    <a href="{% url 'main:broken-semantics-good-example' %}" title="Исправление семантики при помощи HTML">На данной
        странице</a>
</p>
{% endblock %}
