{% extends 'main/base.html' %}
{% block title %}Плохой пример меню{% endblock %}
{% block content %}
<h1>Плохой пример меню</h1>
<p>Очень часто разработчики, которые не знают, как работают скринридеры, добавляют роли для меню, которые являются
    лишними.
    Например, добавляют роль "menu-item" к каждому пункту меню, у которого уже есть роль ссылки, определённая html-тегом
    "a".
    Также разработчики словами могут писать "Элемент меню", что является недопустимым, поскольку для скринридера уже
    известно на семантическом уровне, с каким элементом/ролью элемента он сталкивается.
    Ниже будет приведен плохой пример меню навигации данного ресурса.</p>
<nav id="bad-menu" aria-label="Меню" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'main:index' %}" role="menuitem" class="nav-link">Главная</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'main:bad-menu-example' %}" role="menuitem" class="nav-link">Элемент меню плохой пример
                    меню</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<p>Как мы видим, в данном примере роль ссылки перекрывается ролью menuitem, чего не должно быть. Роли menu и menuitem не
    должны использоваться в меню навигации.
    пример плохого меню с использованием роли "menuitem" можно встретить
    <a href="https://www.mos.ru/">на официальном сайте Мэра Москвы</a>
    В главном меню данного сайта можно обнаружить ссылки, имеющие роль "menuitem", по данному меню невозможно
    перемещаться стрелками, каждый элемент меню выделен отдельной ссылкой с ролью элемента меню. Программа экранного
    доступа NVDA не озвучивает роль элементов и перемещение по меню становится медленным и некомфортным для быстрого
    использования.
</p>
<p>
    Исправленный пример меню можно найти
    <a href="{% url 'main:good-menu-example' %}" title="Хороший пример меню">На данной странице</a>
</p>
{% endblock %}
