{% block title %}Плохой пример меню{% endblock %}
{% block content %}
<h1>Плохой пример меню</h1>
<p>Очень часто разработчики, которые не знают, как работают скринридеры, добавляют роли для меню, которые являются
    лишними.
    Например, добавляют роль "menu-item" к каждому пункту меню, у которого уже есть роль ссылки, определённая html-тегом
    "a".
    Также разработчики словами могут писать "Элемент меню", что является недопустимым, поскольку для скринридера уже
    известно на семантическом уровне, с каким элементом/ролью элемента он сталкивается.
    Ниже будет приведен плохой пример меню навигации данной страницы.</p>
    <nav id=""bad-menu" aria-label="Меню">
        <ul>
            <li>
                <a href="{% url 'main:index' %}" role="menuitem">Главная</a>
            </li>
            <li>
                <a href="#" role="menuitem">Элемент меню плохой пример меню</a>
            </li>
        </ul>
    </nav>
{% endblock %}
