{% extends 'main/base.html' %}
{% block title %}Добавление излишней семантики{% endblock %}
{% block content %}
<h1>Добавление излишней семантики</h1>
<p>Существует практика, когда разработчики добавляют излишнюю семантику к элементу в надежде, что это улучшить доступность.
    Например, добавление роли ARIA ссылка в случае, когда уже имеется нативный HTML-тег с данной ролью.
</p>
<div id="redundant-semantics-example">
    <a href="{% url 'main:index' %}" role="link">О проекте</a>
</div>
{% endblock %}
