{% extends 'main/base.html' %}
{% block title %}Добавление излишней семантики{% endblock %}
{% block content %}
<h1 id="redundant-semantics-heading">Добавление излишней семантики</h1>
<p>Существует практика, когда разработчики добавляют излишнюю семантику к элементу в надежде, что это улучшить
    доступность.
    Например, добавление роли ARIA ссылка в случае, когда уже имеется нативный HTML-тег с данной ролью.
</p>
<div id="redundant-semantics-example">
    <a href="{% url 'main:index' %}" id="redundant-link" role="link">О проекте</a>
    <button id="redundant-button" type="button" role="button">Click me!</button>
    <form role="form">
        <label for="day">День</label>
        <input id="redundant-date" role="combobox" type="date">
    </form>
</div>
<p>Несмотря на то, что в данном случае программы экранного доступа работают стандартно с такими элементами, добавлять
    дополнительную роль ARIA нет необходимости, так как HTML уже делает это с помощью соответствующих тегов. Также это
    может некорректно работать со старыми версиями программ экранного доступа.</p>
<p>
    Исправленный пример вышеприведённого кода можно найти
    <a href="{% url 'main:redundant-semantics-good-example' %}" title="Удаление излишней семантики">На данной
        странице</a>
</p>
{% endblock %}
