{% extends "main/base.html" %}
{% block title %}Индекс табуляции{% endblock %}
{% block content %}
<h1 id="tabindex-example-heading">Индекс табуляции</h1>
<h2>Описание проблемы и пример</h2>
<p>В HTML существует атрибут “tabindex”, предназначенный для определения порядка нахождения фокусируемого элемента на странице при навигации с
    помощью клавиши Tab.
    Чем больше числовое значение данного атрибута, тем дальше будет находиться элемент при навигации с помощью данной клавиши от начала страницы и нахождение элемента может не соответствовать тому, где он расположен в DOM-дереве.
    Проблема использования данного атрибута заключается в том, что разработчики вебсайтов и веб-приложений могут легко нарушить порядок перемещения по фокусируемым элементам, проставляя индекс табуляции, в следствии чего пользователь программы экранного доступа или пользователь, использующий только клавиатуру для навигации по странице получит некорректное представление о расположении кнопок, редакторов, флажков и так далее.</p>
    <a href="https://yandex.ru" tabindex="5">Яндекс</a>
    <button tabindex="4">Click</button>
    <p>Также этот атрибут может ошибочно применяться для нефокусируемых элементов, таких как заголовки. При помощи клавиши Tab должны быть идентифицированы только фокусируемые элементы (кнопки, редакторы, радиокнопки, флажки) и использование табиндекса для заголовков является ошибкой. Если применять атрибут "tabindex" к заголовку, программа экранного доступа сфокусируется на нем и сообщит о заголовке пользователю, что введет его в заблуждение, поскольку с заголовками нельзя взаимодействовать, как с кнопками, текстовыми полями и прочими фокусируемыми элементами.</p>
    <h3 tabindex="3">Never put a tabindex atribute on heading!</h3>
    <p>Несмотря на то, что заголовок и кнопка находятся ниже ссылки в DOM-дереве, они будут находиться ближе всего к пользователю при навигации с помощью клавиши Tab, поскольку атрибуты "tabindex" у этих элементов равняются значениям 4 и 3. Это ошибка. Также, как упоминалось выше, вторая ошибка заключается в использовании данного атрибута на элементе, который не может быть сфокусирован (т.е. на заголовке).</p>
    <h2>Возможные методы решения проблемы</h2>
    <p>Решением данной проблемы является не использовать данный атрибут, что позволяет сохранить порядок нахождения
    элементов при табуляции таким, как элементы изначально расположены в DOM-дереве.
    Значение атрибута может быть либо 0, либо минус 1, что скрывает элемент из-под навигации при нажатии клавиши Tab.
    В случае с нефокусируемыми элементами, такими как заголовки, этот элемент использовать вообще не нужно.
    Проблема в неправильном использовании данного атрибута может повлечь за собой некорректное представление
    пользователя, работающего при помощи программы экранного доступа о странице, на которой он находится.</p>
    {% endblock %}
