<!DOCTYPE html>
<html lang="ru-RU">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</head>

<body>
    <header id="header">
        {% include "main/main-menu.html" %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>
