{% extends 'main/base.html' %}

{% block title %}Исследование стандарта WAI-ARIA{% endblock %}

{% block content %}
<h1 id=""project-name">Исследование стандарта WAI-ARIA</h1>
<h2 id="about-project">О проекте</h2>
<p>Данный проект создан с целью илюстрации возможностей стандарта доступности WAI-ARIA, разрабатываемого W3C концорциумом.</p>
<p>Приводятся грамотные и неправильные примеры использования стандарта в различных ситуациях. Проект создан для понимания стандарта доступности, использован в качестве курсовой/дипломной работы студента Московского Государственного Психолого-педагогического Университета Попова Всеволода Сергеевича.</p>
<p>Вся информация, представленная на данном ресурсе взята из
    <a href="https://www.w3.org/WAI/standards-guidelines/aria/">Официальной документации стандарта</a>
    А также из других открытых источников.
</p>
{% endblock %}
