{% extends 'main/base.html' %}
{% block title %}Исправление семантики при помощи HTML{% endblock %}
{% block content %}
<h1>Исправление семантики при помощи HTML</h1>
<p>
    В примере <a href="{% url 'main:broken-semantics-bad-example' %}">Исправления семантики при помощи ARIA</a>
    приводилась ситуация, в которой семантика элемента исправлялась при помощи атрибутов ARIA. Ниже представлен
    исправленный пример, в котором использована стандартная HTML семантика.
</p>
<div id="broken-semantics-example">
    <a href="#" id="my-book-link">My book</a>
    <button id="fixed-button-example">Find with tab key and click me</button>
</div>
<p>
    В данном случае, приведенные выше ссылка и кнопка будут фокуссируемы при помощи клавиши Tab. Это соответствует
    <a href="https://www.w3.org/WAI/WCAG22/Understanding/focus-visible.html">критерию стандарта WCAG</a>,
    регламентирующего доступность фокуссируемых элементов.
</p>
{% endblock %}
